/*------------------Global*/
body{
    background-color: var(--background);
    font-weight: 500;
    font-family: proxima-nova, sans-serif;
    font-size: 1.1em;
    line-height: 1.6em;
}
h1{
    font-size: 1.8rem;
}
span{
    color: var(--button);
}
a{
    text-decoration: none;
}

/*----------------Intro*/
.intro{
    height: 450px;
    color: var(--background);
    background-color: var(--background);
    margin-bottom: 2rem;

}

.introImg{
    width: 100%;
    max-height: 450px;
}
/*---------------overview*/

.overview{
    height: 300px;
    width: 80%;
    border-radius: 10px;
    border: 3px solid black;
    background-color: var(--main);
    padding: 1em;
}

.overviewImg{
    position: relative;
    top:-130px;
    height: 240px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 1em;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ4JktxyToLv2hyU0R1rwHYzAefkEe8FD0AQ&usqp=CAU") no-repeat center center / cover;
}

.icon{
    font-size: 3.5rem;
    margin-right: 10px;
}

/*------------- About Me*/
.aboutMe{
    width: 80%;

    border: 3px solid black;
    background-color: var(--main);
    padding: 0px;
    border-radius: 10px;
}

.aboutMeMenu{
    padding-top: 0px;
    width: 100%;
    background-color: var(--background);

}
.aboutButton{
    background-color: var(--background);
    color: var(--main);
    font-size: 1.1rem;
    width: 21%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    cursor: pointer;

}
.aboutButton:hover{
    background-color: var(--button);
}
.active{background-color: var(--button)}
.fb{
    border-top-left-radius: 10px;
}
.lb{
    border-top-right-radius: 10px;
}
/*about content*/
.about{
    width: 90%;
    padding: 1em;
    display: none;
}
.aboutImg{
    width: 100%;
    max-height: 450px;
    border-radius: 10px;
    border: 2px solid var(--stroke)
}
.cvButton{
    width: 45%;
    height: 70px;
    margin-top: 1em;
    border: 2px solid var(--stroke);
    color: var(--background);
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    transition-duration: 200ms;
    cursor: pointer;
    box-shadow: -1px 0px 7px 1px rgba(150, 150, 150, 0.71);
}
.cvButton:hover{
    background-color: var(--button);
    color: var(--main);

}

.aboutbox{
    height: 250px;
    border: 2px solid var(--stroke);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.aboutIcon{
    font-size: 3rem;
    color: var(--button);
}

.card{
    background-image: linear-gradient(var(--stroke) ,var(--background) 80%);
    box-shadow: -6px -6px 15px 0px var(--paragraph), 6px 6px 15px 0px var(--stroke);
    height: 320px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}
.card img{
   
}
.card-bottom{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Resume*/
.resume{display: none;}
.resumeCard{
    padding: 1.5em;
    min-height: 350px;
    border-radius: 10px;
    margin-bottom: 2em;
    box-shadow: -6px -6px 15px 0px var(--paragraph), 6px 6px 15px 0px var(--stroke);
}
.resumeCard > :first-child{
    border-bottom: 1px solid var(--main);
}
.score{
    background-color: var(--stroke);
    padding: 10px;
    box-shadow: -6px -6px 15px 0px var(--paragraph), 6px 6px 15px 0px var(--stroke);
    border-radius: 10px;
}
.progress-bar{
    border-radius: 15px;
    background-color: var(--background);
    border: 2px solid var(--stroke);
    margin-bottom: 1em;
}
.progress{
    width: 80%;
    background-image: linear-gradient(to right ,var(--button), var(--tertiary));
}

/*Work*/
.work{display: none;}
.workCard{
    height: 400px;
    border-radius: 10px;
    padding: 2em;
    box-shadow: -6px -6px 15px 0px var(--paragraph), 6px 6px 15px 0px var(--stroke);
}
.workImg{
    max-width: 250px;
    border-radius: 20px;
    margin-bottom: 1.5rem;

}
.workIcon{
    margin-top: 5px;
    color: var(--paragraph);
}

/*Blog*/
.blog{display: none}
.blogCard{
    height: 420px;
    max-width: 300px;
    border-radius: 10px;
    padding: 2em;
    box-shadow: -6px -6px 15px 0px var(--paragraph), 6px 6px 15px 0px var(--stroke);
    margin: 1em;
    background-image: linear-gradient(var(--background) 40%, rgba(167, 169, 190, 0.22));
}
.blogImg{
    max-width: 320px;
    min-width: 250px;
    border-radius: 20px;
    margin-bottom: 1.5rem;
    /*box-shadow: -1px -1px 0px 0px var(--paragraph), 2px 2px 0px 0px var(--stroke);*/
}

/*Contact*/
.contact{display: block}
.contactInfo{
    padding: 2rem;
    border-radius: 5px;
    box-shadow: -6px -6px 15px 0px var(--paragraph), 6px 6px 15px 0px var(--stroke);
}
.contactImg{
    width: 100%;
    border-radius: 10px;
    margin: auto;
}

.iconLight{
    padding: 1rem;
    background-color: var(--background);
    border-radius: 5px;
    box-shadow: -2px -2px 5px 0px rgba(167, 169, 190, 0.37), 6px 6px 15px 0px var(--stroke);
    color: var(--main);
    margin-right: 1rem;
}

.form{
    border-radius: 5px;
    box-shadow: -6px -6px 15px 0px var(--paragraph), 6px 6px 15px 0px var(--stroke);
}

.topInput{
    background-color: var(--main);
    border-radius: 5px;
}
.topInput:focus{
    outline: 1px solid var(--button)
}

.messageButton{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 46%;
    padding: 2rem;
    color: var(--main);
    background-color: var(--tertiary);
    opacity: 0.85;
    border: 1px solid var(--stroke);
    cursor: pointer;

}
.messageButton:hover{
    opacity: 1;
}
/*-----------------footer*/

.footer{
    height: 400px;
}

.themeButton{
    margin-bottom: 1em;
    padding: 1rem;
}